.header {
    background-color: #212121;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
  }
  
  .nav {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  .nav__list {
    display: flex;
    list-style: none;
  }
  
  .nav__item {
    margin-right: 2rem;
  }
  
  .nav__link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .nav__link:hover {
    color: #03a9f4;
  }
  
  .header__title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 0rem;
  }
  
  .header__subtitle {
    font-size: 2rem;
  }
  